<%if (errorMessage) { %>
    <h2 class="in-error">Response error: <%= errorMessage %></h2>
<% } %>    
<div class="show-error">
    <h1>Something went wrong, you can contact an Administrator for more info:  <a href="mailto:testing@wpp.com">testing@wpp.com</a></h1>
    <a class="return-home" href="/">Go back</a>
</div>