<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>WPP IT Dashboard Assistant</h1>
    <p>This Extension is provided as is with a terminate functionality!</p>
    <a class="nav-link " href="/auth/okta-oidc">
      <button class="btn-ho effect01" type="button" title="Login">Login</button>
    </a>

  </div>
</main>

<footer class="footer">
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>
